body {
	font-family: HelveticaNeue-Light;
	text-align: center;
}

.bottomButton {
	width: 129px;
	height: 44px;
	font-size: 36px;
	font-family: HelveticaNeue-Light;
	padding: 0;
	border: none;
	background: none;
	position: absolute;
	right: 0;
	bottom: 0;
	color: #f49f9f;
	text-align: center;
}

.ellipse {
	width: 25px;
	height: 25px;
}

.formWrapper {
	display: flex;
	flex-direction: row;
}

.specialText {
	color: #f49f9f;
	font-family: Helvetica Neue;
}

.submittedText {
	font-size: 36px;
	left: 0;
    	line-height: 200px;
    	margin: auto;
    	margin-top: -100px;
    	position: absolute;
    	top: 50%;
    	width: 100%;
}
